layout {
    children
    pane size=1 borderless=true {
        plugin location="file:/Users/xander/.config/zellij/plugins/zjstatus.wasm" {
            format_left   "{mode} #[fg=black,bg=#181825]{tabs}"
            format_center ""
            format_right  "{datetime}#[fg=cyan]↖ "
            format_space  ""
            // {session}
            border_enabled  "false"
            border_char     "-"
            border_format   "#[fg=#6C7086]{char}"
            border_position "top"

            hide_frame_for_single_pane "false"

            mode_normal  "#[fg=cyan]"
            mode_locked  "#[fg=red]"
            mode_tmux    "#[bg=#ffc387]"

            // mode_normal        "#[bg=#89B4FA] {name} "
            // mode_locked        "#[bg=#89B4FA] {name} "
            // mode_resize        "#[bg=#89B4FA] {name} "
            // mode_pane          "#[bg=#89B4FA] {name} "
            // mode_tab           "#[bg=#89B4FA] {name} "
            // mode_scroll        "#[bg=#89B4FA] {name} "
            // mode_enter_search  "#[bg=#89B4FA] {name} "
            // mode_search        "#[bg=#89B4FA] {name} "
            // mode_rename_tab    "#[bg=#89B4FA] {name} "
            // mode_rename_pane   "#[bg=#89B4FA] {name} "
            // mode_session       "#[bg=#89B4FA] {name} "
            // mode_move          "#[bg=#89B4FA] {name} "
            // mode_prompt        "#[bg=#89B4FA] {name} "
            // mode_tmux          "#[bg=#ffc387] {name} "


            // tab_normal   "#[fg=#6C7086] {name} "
            // tab_active   "#[fg=#9399B2,bold,italic] {name} "

            // formatting for inactive tabs
            tab_normal              "#[fg=#6C7086] {name} "
            tab_normal_fullscreen   "#[fg=#6C7086] {name} "
            tab_normal_sync         "#[fg=#6C7086] {name} "

            // formatting for the current active tab
            tab_active              "#[fg=magenta,bold] {name} #[fg=yellow,bold]{floating_indicator}"
            tab_active_fullscreen   "#[fg=#9399B2,bold] {name} #[fg=yellow,bold]{fullscreen_indicator}"
            tab_active_sync         "#[fg=#9399B2,bold] {name} #[fg=yellow,bold]{sync_indicator}"

            // separator between the tabs
            tab_separator           "#[fg=cyan,bold]⁄"

            // indicators
            tab_sync_indicator       " "
            tab_fullscreen_indicator " "
            tab_floating_indicator   ""

            command_git_branch_command     "git branch --show-current"
            command_git_branch_format      "#[fg=blue] {stdout} "
            command_git_branch_interval    "1"
            command_git_branch_rendermode  "static"

            datetime        "#[fg=#6C7086,bold] {format} "
            datetime_format "%A, %d %b %Y %H:%M"
            datetime_timezone "Europe/Berlin"
        }
    }
}
